.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.card {
  overflow: hidden;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  background-color: black;
}

.card:hover > .info{
  opacity: 1;
  transform: translateY(0px);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.021) 0%,
    rgba(0, 0, 0, 0.150) 11.7%,
    rgba(0, 0, 0, 0.224) 22.1%,
    rgba(0, 0, 0, 0.262) 31.2%,
    rgba(0, 0, 0, 0.283) 39.4%,
    rgba(0, 0, 0, 0.38) 46.6%,
    rgba(0, 0, 0, 0.410) 53.1%,
    rgba(0, 0, 0, 0.475) 58.9%,
    rgba(0, 0, 0, 0.512) 64.3%,
    rgba(0, 0, 0, 0.538) 69.3%,
    rgba(0, 0, 0, 0.565) 74.1%,
    rgba(0, 0, 0, 0.597) 78.8%,
    rgba(0, 0, 0, 0.628) 83.6%,
    rgba(0, 0, 0, 0.681) 88.7%,
    rgba(0, 0, 0, 0.722) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
}
/* align absolute top-0 right-0 opacity-0 flex gap-2 px-4 rounded-3xl justify-center items-center bg-white text-black' */
.card:hover > .align{
  opacity: 1;
}
.align{
  position:absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem ;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  transform: translateY(5px);
  transition: 0.5s;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.info {
display: flex;
width: 100%;
gap: 6px;
flex-direction: column;
  padding: 1.5rem;
  z-index: 333333;
  color: white;
  opacity: 0;
  background-size: cover;
  background-position: 0 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.title {
  margin: 0px;
  font-size: 20px;
  font-weight: 800;
}

.desc {
  letter-spacing: 1px;
  font-size: 14px;
  text-align: justify;
}
.btn {
    width: fit-content;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #8ebbff;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

@media screen and (max-width:1280px){
  .card{
    width: 360px;
  }
  .btn{
    padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 12px;
  }
}
@media screen and (max-width:1024px){
  .card{
    width: 450px;
  }
  .btn{
    padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 15px;

  }
}
@media screen and (max-width:768px){
  .card{
    width: 380px;
  }
  .btn{
    padding-left: 0.6rem;
  padding-right: 0.6rem;
  
  font-size: 16px;
  }
}
@media screen and (max-width:480px){
  .card{
    width: 340px;
  }
  .btn{
    padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 14px;
  }
}
@media screen and (max-width:380px){
  .card{
    width: 320px;
  }
  .btn{
    padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 14px;
  }
}
@media screen and (max-width:480px){
  .card{
    width: 320px;
  }
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}