@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');
 .wrapper{
	 background:#24293E;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 2rem;

}
 .top {
	 margin-top: 30px;
}
 .container {
	 margin: 0 auto;
	 position: relative;
	 width: 250px;
	 height: 250px;
	 margin-top: -40px;
     color:#8ebbff ;
}
 .ghost {
	 width: 50%;
	 height: 53%;
	 left: 25%;
	 top: 10%;
	 position: absolute;
	 border-radius: 50% 50% 0 0;
	 background: #8ebbff ;
	 border: 1px solid #2e3751;
	 border-bottom: none;
	 animation: float 2s ease-out infinite;
}
 .ghostCopy {
	 width: 50%;
	 height: 53%;
	 left: 25%;
	 top: 10%;
	 position: absolute;
	 border-radius: 50% 50% 0 0;
	 background: #8ebbff ;
	 border: 1px solid #2e3751;
	 border-bottom: none;
	 animation: float 2s ease-out infinite;
	 z-index: 0;
}
 .face {
	 position: absolute;
	 width: 100%;
	 height: 60%;
	 top: 20%;
}
 .eye, .eyeRight {
	 position: absolute;
	 background: #24293E;
	 width: 13px;
	 height: 13px;
	 border-radius: 50%;
	 top: 40%;
}
 .eye {
	 left: 25%;
}
 .eyeRight {
	 right: 25%;
}
 .mouth {
	 position: absolute;
	 top: 50%;
	 left: 45%;
	 width: 10px;
	 height: 10px;
	 border: 3px solid;
	 border-radius: 50%;
	 border-color: transparent #585959 #585959 transparent;
	 transform: rotate(45deg);
}
 .one, .two, .three, .four {
	 position: absolute;
	 background: #8ebbff;
	 top: 85%;
	 width: 25%;
	 height: 23%;
	 border: 1px solid #2e3751;
	 z-index: 0;
}
 .one {
	 border-radius: 0 0 100% 30%;
	 left: -1px;
}
 .two {
	 left: 23%;
	 border-radius: 0 0 50% 50%;
}
 .three {
	 left: 50%;
	 border-radius: 0 0 50% 50%;
}
 .four {
	 left: 74.5%;
	 border-radius: 0 0 30% 100%;
}
 .shadow {
	 position: absolute;
	 width: 30%;
	 height: 7%;
	 background: #8ebbff86;
	 left: 35%;
	 top: 80%;
	 border-radius: 50%;
	 animation: scale 2s infinite;
}
 @keyframes scale {
	 0% {
		 transform: scale(1);
	}
	 50% {
		 transform: scale(1.1);
	}
	 100% {
		 transform: scale(1);
	}
}
 @keyframes float {
	 50% {
		 transform: translateY(15px);
	}
}
 .bottom {
	 margin-top: 10px;
}
/*text styling*/
 .h1 {
	 font-family: 'Abril Fatface', serif;
	 color: #2e3751;
	 text-align: center;
	 font-size: 9em;
	 margin: 0;
	 text-shadow: -1px 0 #8ebbff, 0 1px #8ebbff, 1px 0 #8ebbff, 0 -1px #8ebbff;
}
 .h3 {
	 font-family: 'Lato', sans-serif;
	 font-size: 2em;
	 text-transform: uppercase;
	 text-align: center;
	 color: #2e3751;
	 margin-top: -20px;
	 font-weight: 900;
}
 .buttons {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-top: 10px;
}
 .btn {
	 background: #2e3751;
	 padding: 15px 25px;
	 margin: 5px;
	 color: white;
     font-weight: 500;
	 font-family: 'Lato', sans-serif;
	 text-transform: uppercase;
	 font-size: 14px;
	 letter-spacing: 1px;
	 border: 0;
     border-radius: 1rem;
}
 .btn:hover {
	 background: #8ebbff;
	 transition: all 0.4s ease-out;
     color:#24293E;
}

 