.container {
   width: 100%;
   display: flex;
   height: 100vh;
   gap: 30px;
   box-sizing: border-box;
   align-items: center;
  }
  
  .wrapper {
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0px;
    max-width: 500px;
  }
  .banner{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
  .left{
    flex: 6;
  }
  .right{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 5%;
  }
  .title{
    font-size: 26px;
    font-weight: 800;
    color: white;
  }
  .blueText{
    color: #8ebbff;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .inputContainer{
    position:relative;
    width: 100%;
    flex: 1;
  }
  .inputContainer .input{
    padding:12px;
    border-radius: 6px;
    width: 400px;
    background-color: #2e3751;
  }
  .inputContainer input::placeholder{
    visibility:hidden;
  }
  .inputContainer .label{
    position:absolute;
    color: white;
    top:0;
    left:10px;
    transform:translateY(50%);
    transition: transform 0.3s ease;
  }
  .inputContainer .input:focus {
    outline-color: #8ebbff;
  }
  .inputContainer .input:focus + .label{
    transform:translateY(-50%);
    color: #8ebbff;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    background-color:#2e3751;
  }
  .inputContainer input:focus::placeholder{
    visibility:visible;
  }

  .btn{
    flex: 1;
    background-color:#8ebbff ;
    color: white;
    text-align: center; 
    padding:10px 0px ;
    margin-top: 20px;
  }
  .lower{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
  }
  .text{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  .text2{
    margin:auto;
    font-size: 15px;
    color: white;
  }
  .register{
    color:#8ebbff ;
    margin:0px 5px;
  }
  .text::before,
  .text::after{
    content: '';
    display: flex;
    margin: 11px 20px;
    height: 1.5px;
    width: 120px; /* Adjust the width as needed */
    background-color:rgba(211, 211, 211, 0.747); /* Line color */
  }
  .socialIcons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:25px
  }
  .icons{
    width: 40px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid#8ebbff ;
    background-color: #2e3751;
  }

  @media screen and (max-width: 1280px){
    .inputContainer .input{
      width:280px;
    }
    .container{
      gap:20px;
    }
    .right{
      padding: 15% 3%;
    }
  }
  @media screen and (max-width: 1024px){
    .inputContainer .input{
      width: 250px;
    }
  }
  @media screen and (max-width: 768px){
    .left{
      display: none;
    }
    .inputContainer .input{
      width: 300px;
    }
  }
  @media screen and (max-width: 640px){
    .inputContainer .input{
      width: auto;
    }
  }